<?xml version="1.0"?>
<launch>

	<!-- dynamic map generation -->
	<include file="$(find cob_navigation_slam)/launch/gmapping.launch" />

	<!--- Run move base -->
	<include file="$(find cob_navigation_global)/launch/2dnav_ros_include.launch" />

	<!-- Robot pose ekf -->
	<include file="$(find cob_navigation_config)/launch/robot_pose_ekf.launch" />

</launch>
