<?xml version="1.0"?>
<launch>

  <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
  <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
  <arg name="pkg_env_config" default="$(find cob_default_env_config)"/>
  <arg name="pkg_nav_config" default="$(find cob_navigation_config)"/>
  <arg name="map" default="$(arg pkg_env_config)/envs/$(arg robot_env)/map.yaml" />

  <!--- Run map_server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

  <!--- Run AMCL -->
  <include file="$(find cob_navigation_global)/launch/amcl_node.xml" >
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <!--- Run move base -->
  <include file="$(find cob_navigation_global)/launch/2dnav_ros_dwa.xml" >
    <arg name="robot" value="$(arg robot)"/>
    <arg name="pkg_nav_config" value="$(arg pkg_nav_config)"/>
  </include>

</launch>
