<?xml version="1.0"?>
<launch>

  <node pkg="cob_navigation_linear" type="cob_linear_nav" respawn="false" name="move_base_linear" output="screen">
    <!-- remap inputs -->
    <remap from="odom" to="/base_controller/odometry"/>
    <!-- remap outputs -->
    <remap from="cmd_vel" to="/base_controller/safety_command"/>
    <rosparam file="$(find cob_navigation_linear)/ros/launch/ctrl_params.yaml" command="load" />
  </node>

</launch>
