<?xml version="1.0"?>
<launch>

  <!-- start local costmap -->
  <node name="local_costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen">
    <rosparam file="$(find cob_joystick_filter)/ros/config/local_costmap_params.yaml" command="load" ns="costmap" />
  </node>

  <!-- start joystick filter node -->
  <node pkg="cob_joystick_filter" type="joystick_filter" name="joystick_filter" output="screen">
    <remap from="obstacles" to="/local_costmap_node/costmap/obstacles" />
    <remap from="teleop_twist" to="/base_controller/command" />
    <rosparam file="$(find cob_joystick_filter)/ros/config/joystick_filter_params.yaml" command="load" />
  </node>

</launch>
